global:
  scrape_interval: 10s

scrape_configs:
  - job_name: 'prometheus_master'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node_exporter'
    metrics_path: '/metrics'
    ec2_sd_configs:
    - region: {{ placement['region'] }}
      port: 9100
      filters:
        - name: tag:Name
          values:
          - docker*
          - wordpress*
    relabel_configs:
      - source_labels: [__meta_ec2_tag_Name]
        target_label: instance

  - job_name: 'apache'
    ec2_sd_configs:
    - region: {{ placement['region'] }}
      port: 9117
      filters:
        - name: tag:Name
          values:
          - docker*
          - wordpress*
    relabel_configs:
      - source_labels: [__meta_ec2_tag_Name]
        target_label: instance

  - job_name: 'docker_engine'
    ec2_sd_configs:
    - region: {{ placement['region'] }}
      port: 9323
      filters:
        - name: tag:Name
          values:
          - docker*
    relabel_configs:
      - source_labels: [__meta_ec2_tag_Name]
        target_label: instance