{% raw %}
{{ define "telegram.default.text" }}
{{ range .Alerts }}
<b>🔥{{ .Status | toUpper }}</b> - {{ .Annotations.summary }} on {{ .Labels.instance }}
<b>Details:</b>
{{ .Annotations.description }}

{{ end }}
{{ end }}
{% endraw %}