apiVersion: 1

datasources:
  # Configuration for Loki
  - name: Loki
    type: loki
    access: proxy
    url: http://{{ groups['loki'][0] }}:3100
    editable: true

  # Configuration for Prometheus
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://{{ groups['prometheus'][0] }}:9090
    editable: true
