define service{
        use                     generic-service
        host_name               wordpress
        service_description     CPU Load
        check_command           check_nrpe!check_load
        }

define service{
        use                     generic-service
        host_name               wordpress
        service_description     Total Processes
        check_command           check_nrpe!check_total_procs
        }

define service{
        use                     generic-service
        host_name               wordpress
        service_description     Current Users
        check_command           check_nrpe!check_users
        }

define service{
        use                     generic-service
        host_name               wordpress
        service_description     SSH Monitoring
        check_command           check_nrpe!check_ssh
        }

define service{
        use                     generic-service
        host_name               wordpress
        service_description     FTP Monitoring
        check_command           check_nrpe!check_ftp
        }

define service{
        use                     generic-service
        host_name               wordpress
        service_description     Check if the web server is running
        check_command           check_nrpe!check_apache
        }

define service{
        use                     generic-service
        host_name               wordpress
        service_description     Monitor MySQL process
        check_command           check_nrpe!check_processes
        }

define service{
        use                     generic-service
        host_name               wordpress
        service_description     Check the status of the WordPress website
        check_command           check_nrpe!check_wordpress
        }

define service{
        use                     generic-service
        host_name               wordpress
        service_description     Monitor the disk space where WordPress is installed
        check_command           check_nrpe!check_disk_space
        }

define service{
        use                     generic-service
        host_name               wordpress
        service_description     HTTP
        check_command           check_nrpe!check_http -H localhost
        }

define service{
        use                     generic-service
        host_name               docker
        service_description     Check if Docker is running
        check_command           check_nrpe!check_docker -c apache-container
        }
      
define service{
        use                     generic-service
        host_name               docker
        service_description     Check if the web server is running
        check_command           check_nrpe!check_docker -c apache-container -s httpd
        }
